.nav {
    grid-area: n;
    background-color: #b2d67f;
    padding: 10px;

}

.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}

.friends {
    text-align: center;
}

